<!-- My own Addition -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Welcome to HOME page</h2>
    <h3>About Us</h3>
    <p>Welcome to WANDERLUST, your ultimate guide to discovering the most breathtaking destinations for your next holiday adventure. Whether you're seeking serene beaches, bustling cityscapes, hidden gems, or nature's wonders, we're here to inspire and guide your journey.</p>
    <p>Our mission is to help travelers find the perfect places to visit, tailored to their preferences, whether it's a relaxing getaway, a cultural exploration, or an adrenaline-fueled adventure. We provide curated lists of must-see locations, insider tips, and detailed guides to ensure you have an unforgettable experience.</p>
    <p>At WANDERLUST, we believe that every trip should be as unique as the traveler. That's why we are committed to showcasing a diverse range of destinations that cater to all tastes and interests. Let us help you create memories that will last a lifetime.</p>
    <p>Happy travels!</p>
    <br/>

    <a href="/listings">Explore All Listing</a>
</body>
</html>